.comment {
	position: relative;

	@include min-screen($small-screen) {
		padding-left: 24px;
	}

	article {
		background-color: $comment-background-color;
		margin-bottom: $base-margin;

		@include min-screen($small-screen) {
			border: 1px solid $comment-border-color;
		}
	}

	header {
		background-color: $comment-header-background-color;
		clear: both;
		font-size: $base-font-size;
		min-height: 75px;
		padding: 10px;
		position: relative;

		@include min-screen($small-screen) {
			border-bottom: 1px solid $comment-border-color;
			padding: 24px 20px 10px 30px;
		}

		.comment-author {
			margin-right: 5px;
			font-style: italic;
		}

		p {
			display: inline-block;
			margin-bottom: 6px;
		}

		.comment-edit-link {
			margin-left: 5px;
		}

		.says {
			display: none;
		}
	}

	.avatar {
		width: 30px;

		@include min-screen($small-screen) {
			border: 4px solid $comment-background-color;
			border-radius: 100%;
			left: -24px;
			top: 15px;
			position: absolute;
			width: 48px;
		}
	}

	.children {
		@include min-screen($small-screen) {

			border-left: 1px dashed $comment-border-color;
			padding-left: 30px;

			header {
				padding-left: 10px;
			}

			.avatar {
				left: -50px;
			}
		}
	}

	.comment {

		margin-top: 20px;
		padding-bottom: 0;

		@include min-screen($small-screen) {
			margin-left: -30px;
		}
	}

	.comment:last-child {
		margin-bottom: 0;
	}

	footer {
		@include min-screen($small-screen) {
			padding: 0 20px 20px;
		}
	}

}

.bypostauthor > .comment-container {
	header {
		background-color: $comment-author-header-background-color;

		&::after {
			border-right-color: $comment-author-header-background-color;
		}
	}
}

.comment-reply {
	padding: 0 20px 20px;

	a {
		color: $comment-meta-link-color;

		&:hover,
		&:focus {
			color: $comment-meta-link-color-hover;
		}
	}
}

/* Comment Content
--------------------------------------------- */
.comment-content {
	@include entry-content();
	clear: both;
	padding-top: 10px;

	@include min-screen($small-screen) {
		padding: $comment-padding;
	}
}

/* Pingbacks & Trackbacks
--------------------------------------------- */
.pingback,
.trackback {
	background-color: $comment-background-color;
	border: 1px solid $comment-border-color;
	margin-bottom: 20px;
	padding: 10px 20px;
}

/* Comment Respond Form
--------------------------------------------- */
.comment-respond {
	background-color: $comments-background-color;
	border: 1px solid $comment-border-color;
	margin-bottom: $base-margin;
	padding: $comments-padding-small;

	@include min-screen($small-screen) {
		padding: $comments-padding;
	}

	label {
		display: block;
	}

	.submit {
		display: block;
		width: 100%;

		@include min-screen($small-screen) {
			display: inline-block;
			width: auto;
		}
	}
}

.form-allowed-tags {
	background-color: $allowed-tags-background-color;
	font-size: $base-font-size;
	padding: 10px;

	@include min-screen($small-screen) {
		padding: 20px;
	}
}
