/* Archive Pagination
--------------------------------------------- */

.pagination {
	display: block;
	margin-bottom: 20px;
	text-align: center;

	li,
	.pagination-next,
	.pagination-previous {
		transition: all 0.2s ease-in-out;
		background: $pagination-background-color;
		border: 1px solid $pagination-border-color;
		border-radius: $base-border-radius;
		display: inline-block;
		margin-bottom: 10px;
		padding: 10px 20px;

		&:hover,
		&:focus {
			background: $pagination-background-color-hover;
			border: 1px solid $pagination-border-color-hover;
		}
	}

	.active {
		background: $pagination-current-background-color;
	}

	a {
		color: $pagination-link-color;
	}
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

/* Single Post Pagination
--------------------------------------------- */

.entry-pagination {
	display: block;
	clear: both;
	font-size: $pagination-font-size;
	letter-spacing: 1px;
	margin: $base-margin 0;
	overflow: hidden;
	padding: 0;
	text-transform: uppercase;

	span,
	a {
		transition: all 0.2s ease-in-out;
		border: 1px solid $page-links-border-color;
		border-radius: $base-border-radius;
		color: $page-links-link-color;
		display: inline-block;
		padding: 5px 15px;
	}

	span {
		background: $page-links-current-background-color;
	}

	a {
		background: $page-links-background-color;

		&:hover,
		&:focus {
			background: $page-links-background-color-hover;
			color: $page-links-link-color;
		}
	}
}

/* Archive Page Links
--------------------------------------------- */

.archive-pagination {
	display: block;
	clear: both;
	font-size: $pagination-font-size;
	letter-spacing: 1px;
	margin-bottom: 20px;
	overflow: hidden;
	padding: 0;
	text-transform: uppercase;
}
