/* Gravity Forms
--------------------------------------------- */
div.gform_wrapper {

	input[type="email"],
	input[type="text"],
	textarea,
	.ginput_complex label {
		font-size: $base-font-size;
		padding: 16px;
	}

	.ginput_complex label {
		padding: 0;
	}

	li,
	form li {
		margin: 16px 0 0;
	}

	.gform_footer input[type=submit] {
		font-size: $base-font-size;
		padding: 16px 24px;
	}
}

/* Jetpack
--------------------------------------------- */
#wpstats {
	display: none;
}

/* WordPress SEO
--------------------------------------------- */

.breadcrumbs {
	font-size: $base-font-size;
	margin-bottom: 15px;

	.sep {
		padding: 0 4px;
	}
}

/* Content Highlighter
--------------------------------------------- */

.featured-content img {
	width: auto;
}

/* ## Genesis eNews Extended
--------------------------------------------- */

.enews-widget,
.enews-widget .widget-title {
	color: $base-background-color;
}

.sidebar .widget.enews-widget {
	background-color: $base-font-color;
}

.enews-widget input,
.enews-widget input:focus {
	border: 1px solid $base-font-color;
}

.enews-widget input {
	margin-bottom: 16px;
}

.enews-widget input[type="submit"] {
	background-color: $cta-button-background-color;
	color: $cta-button-font-color;
	margin: 0;
	width: 100%;
}

.enews-widget input:hover[type="submit"],
.enews-widget input:focus[type="submit"] {
	background-color: $cta-button-background-color-hover;
	color: $cta-button-font-color;
}

.enews form + p {
	margin-top: 24px;
}
